html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #feeafa;
}
* {
  box-sizing: border-box;
}

.navbar {
  background-color: #dee2ff;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
.navbar__list {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: middle;
  align-items: center;
  margin: auto;
  list-style: none;
  padding: 0;
}
.navbar__item {
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 14%;
  margin: auto;
  text-decoration: none;
}
.navbar__item a {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 24px;
  color: #5e6472;
}

.header__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  padding: 40px 0 40px 0;
}
.header__photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__image {
  max-width: 300px;
}
.header__info {
  max-width: 700px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  vertical-align: middle;
  margin: auto;
  padding-right: 60px;
}
.main-header {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #5e6472;
}
.semi-header {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #5e6472;
  margin: 0;
  padding: 20px 0;
}
.about__info {
  font-size: 20px;
  line-height: 32px;
  text-align: justify;
}
.skills-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #5e6472;
  margin: 0;
  padding: 10px 0;
}
.code__info {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 10px 0;
}
.code pre {
  margin-bottom: 0;
}
.list {
  list-style-type: square;
  font-size: 20px;
  line-height: 32px;
}
.list a {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #5e6472;
}
.list li {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 10px;
  color: #5e6472;
}
.contact {
  padding-bottom: 20px;
}
.footer {
  background-color: #dee2ff;
}
.footer__content {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  margin: auto;
}
.footer__content a {
  height: 30px;
}
.footer__info {
  font-size: 16px;
  line-height: 30px;
}
